<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.tuyinti">

    <application
        android:name=".app.ApplicationContext"
        android:allowBackup="true"
        android:icon="@drawable/tuyinti_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <uses-permission android:name="android.permission.INTERNET" />
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustPan|stateHidden">
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TestActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".page.MsgInstitutionActivity" />
        <activity android:name=".page.MsgPeople" />
        <activity android:name=".page.MsgFilterActivity" />
        <activity android:name=".page.MsgNewGroupActivity" />
        <activity android:name=".page.MsgPublishActivity" />
        <activity android:name=".page.MsgGroupActvitiy" />
        <activity android:name=".page.CnAddFriend" />
        <activity android:name=".page.CnInstitution" />
        <activity android:name=".page.CnGroup" />
        <activity android:name=".page.CnMy" />
        <activity android:name=".page.CnSendGroup" />
        <activity android:name=".page.CnScanCode" />
        <activity android:name=".page.ClInstitution" />
        <activity android:name=".page.ClCourse" />
        <activity android:name=".page.ClTeacher" />
        <activity android:name=".page.ClExercise" />
        <activity android:name=".page.Cldynamic"></activity>
    </application>

</manifest>